.DS_Store
*.dSYM
*.gcda
*.gcno
*.gcov
*.plist
Icon?
netflix-tests
RunNetflix
RunNetflix.tmp
TestNetflix
TestNetflix.tmp
Doxyfile
doxygen_sqlite3.db
latex/
Dockerfile
netflix/
CMakeLists.txt
.idea
tmp
netflix/probe.txt
Caches.c++
gca386-ActualRatingsCache.txt
gca386-AllUsersAveragesCache.txt
gca386-AllUsersSDCache.txt
gca386-MovieNormMean.txt
